input {
  margin-bottom: 6px;
}

.col {
  margin-bottom: 4px;
}

.title2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
}

/* .lista-usuario{
  margin-top: 80px;
  font-size: 20px;
} */

/* .msg{
  color: red;
} */

#mensajeAlertaVerde {
  width: 30vw;
  opacity: 0;
  position: absolute;
}

#mensajeAlerta {
  width: 30vw;
  opacity: 0;
  position: absolute;
}

.contenedor-alerts{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
