body {
  font-family: "Trebuchet MS", sans-serif;
  background-image: linear-gradient(
      120deg,
      rgb(250, 171, 54, 0.35) 0%,
      rgba(36, 158, 160, 0.349) 100%
    ),
    url(/assets/img/Fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* main {
  background-image: linear-gradient(
      120deg,
      rgba(67, 48, 82, 0.35) 0%,
      rgba(143, 210, 244, 0.35) 100%
    ),
    url(/assets/img/Fondo.jpg);
} */
.title2 {
  color: white;
  font-weight: bold;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.global {
  width: 100%;
}
.form-row {
  color: gray;
  font-size: 14px;
}
.caja-form {
  background-color: rgb(172, 199, 214);
  width: 40vw;
  border-radius: 10px;
  /* padding: 3em; */
}
.formulario {
  width: 90%;
  margin-top: 6em;
  padding: 1em;
  padding-bottom: 5em;
}
input {
  margin-bottom: 6px;
}

.col {
  margin-bottom: 4px;
}

.title2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  margin-top: 50px;
}

.lista-usuario {
  font-size: 20px;
  color: #fff;
}

/* .msg{
  color: red;
} */

#mensajeAlertaVerde {
  width: 30vw;
  opacity: 0;
  position: absolute;
}

#mensajeAlerta {
  width: 30vw;
  opacity: 0;
  position: absolute;
}

.contenedor-alerts {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.spinner {
  display: flex;
  gap: 1rem;
}
.list-group-item {
  border-radius: 5px;
}
#lista {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 5rem;
}
